.books .book {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-right: 1%;
}

.bookindex .letter {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-right: 1%;
}

.bookindex .letter h2 {
    border-bottom: 1px solid #000;
}

.bookindex .letter ul {
    list-style-type: none;
    margin-left: 0;
}
